:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
 

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #212acc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #212acc;
  text-decoration: inherit;
}
a:hover {
  color: #212acc;
}





button {
  border-radius: 8px;
  border: 5px cornflowerblue;
  padding: 0.4em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #232660;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

